---
layout: page
title:
description:
sitemap:
  priority: 0.7
  changefreq: 'monthly'
---

<div class="row">
  <div class="media">
  {% for post in site.categories.blog %}
  <div class="col-lg-2 col-md-2">
      <img class="media-object" src="{{ site.baseurl}}/{{post.thumb-img }}" alt="...">
  </div>
  <div class="col-lg-10 col-md-10 post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="media-heading post-title">{{ post.title }}</h2>
      </h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">
          {{ post.subtitle }}
      </h3>
      {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
  </div>
  <hr>
  {% endfor %}
  </div>
</div>
