<!-- Navigation -->
<header class="main-nav navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 ">

      </div>
      <div class="col-xs-8 text-right">
        <ul class="nav">
          <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
          <li><a href="{{ site.baseurl }}/work" class="{% if page.url == '/work.html' %}current{% endif %}">Work</a></li>
          <li><a href="{{ site.baseurl }}/about" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
